@{
  Layout = "Shared/_Layout.cshtml";
}
<h3>@Model["category"].GetName() Recipe List</h3>

@foreach(var recipe in Model["recipes"])
{
  <li>
    <h5>Recipe Name: @recipe.GetName()</h5>
    <h5>Ingredients: @recipe.GetIngredients()</h5>
    <p>Instructions: @recipe.GetInstructions()</p>

    <form action="/recipe/edit/@recipe.GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="text" name="recipe-name" placeholder="Recipe Name">
    <input type="text" name="recipe-ingredients" placeholder="Recipe Ingredients">
    <input type="text" name="recipe-instructions" placeholder="Recipe Instructions">
    <button type="submit" class="waves-effect waves-light btn" name="button">Edit Recipe</button>
    </form>

    <form action="/recipe/delete/@recipe.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="waves-effect waves-light btn" name="button">Delete Recipe</button>
    </form>


  </li>
}
<h3>New Recipe</h3>
<form action="/category/@Model["category"].GetId()/recipe/new" method="post">
    <input type="text" name="recipe-name" placeholder="Recipe Name">
    <input type="text" name="recipe-ingredients" placeholder="Recipe Ingredients">
    <input type="text" name="recipe-instructions" placeholder="Recipe Instructions">
    <button type="submit" class="waves-effect waves-light btn" name="button">Add Recipe</button>
</form>

<a href="/" class="waves-effect waves-light btn">Home</a>
